* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #5781ff;
    --secondary-color: #ff00ee;
    --tertiary-color: #aaaaaa;
    --white-color: #ffffff;
    --correct-color: #18cd11;
  }

  
  .centered {
    text-align: center;
  }
    body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
  }
  
  a {
    text-decoration: none;
  }

  /* Header */
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0;
  }
  
  .scores a,
  .timer {
    font-size: 20px;
  }
  
  .scores a {
    color: var(--secondary-color);
    cursor: pointer;
  }
  
  .scores a:hover {
    color: var(--tertiary-color);
  }
  